# Ignore Visual Studio temporary files, build results, and
# user-specific files
.vs/
*.user
*.suo
*.log
*.cache
*.pdb
*.obj

# Ignore build output directories
bin/
obj/

# Ignore Visual Studio Code settings
.vscode/

# Ignore other common files
*.dbmdl
*.jfm
